In [1]:
import pandas as pd

In [4]:
file_path = './flat-training.csv'

df = pd.read_csv(file_path)

df.head()

,dog,cat,rabbit,deer,panda,koala,otter,hedgehog,squirrel,dolphin,...,blanket,button,whistle,marble,wagon,storybook,candle,clover,bubble,cookie
0,10,A5DB,NaN,4.46,-2,T2,B9DE,51.8,0,1,...,A8,2,2,0,-0.76,-54,B2,0.38,0,C13
1,10,A5DB,NaN,4.42,0,T3,027A,72.2,1,1,...,A7,16,0,0,-0.76,-48,B0,0.16,0,C15
2,43,027A,8.0,3.11,-1,T0,B9DE,44.2,1,1,...,A4,-25,10,0,-0.88,-39,B0,0.13,0,C1
3,28,63D1,NaN,3.37,-1,T1,027A,41.0,0,1,...,A3,21,9,0,-0.85,-58,B1,0.29,1,C5
4,82,C09E,NaN,3.07,-6,T0,B9DE,46.4,1,1,...,A7,-4,13,0,-0.85,70,B2,0.75,1,C13

In [21]:
df.isnull().sum() > 0

dog          False
cat          False
rabbit        True
deer         False
panda        False
             ...
storybook    False
candle       False
clover       False
bubble       False
cookie       False
Length: 80, dtype: bool

In [22]:
cols_na = df.columns[df.isnull().sum() > 0].tolist() # 결측치 열 추출
cols_na

['rabbit', 'cow', 'loon', 'cloud']

In [36]:
from denseclus import DenseClus
from denseclus.utils import make_dataframe

df = make_dataframe() # 단순한 데이터 프레임
df

,num_0,num_1,num_2,num_3,num_4,num_5,cat_0,cat_1,cat_2,cat_3
0,-0.079539,-1.112247,1.330465,0.619461,1.439154,1.017511,MH,MH,L,HL
1,0.603084,-1.533468,1.094063,0.979311,2.188478,1.255139,L,H,M,HL
2,0.662771,0.427754,1.344634,-0.293283,0.158497,-0.511817,H,H,M,MH
3,-0.594482,0.822316,-0.161324,-0.277995,-0.356401,-0.998711,H,H,L,M
4,0.769634,-0.647046,0.977899,0.078718,0.658668,1.286979,MH,MH,HL,HL
...,...,...,...,...,...,...,...,...,...,...
995,-1.320274,-0.156966,-0.582557,0.282833,-0.471954,-1.028828,MH,L,L,M
996,0.150103,1.341845,-1.493453,0.431241,-1.098594,-0.428811,MH,MH,MH,L
997,-1.532087,-0.525841,-0.687205,0.825706,0.428639,-0.870188,M,H,L,H
998,0.191477,0.432728,-0.245239,-1.094670,-0.819430,0.192776,M,HL,M,M
999,-0.009676,1.399951,0.700014,1.637921,0.722500,-0.511025,L,H,HL,M

In [34]:
clf = DenseClus()

clf.fit(df)

/home/station_05/anaconda3/envs/torch_ev/lib/python3.11/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(
/home/station_05/anaconda3/envs/torch_ev/lib/python3.11/site-packages/umap/umap_.py:1887: UserWarning: gradient function is not yet implemented for hamming distance metric; inverse_transform will be unavailable
  warn(
/home/station_05/anaconda3/envs/torch_ev/lib/python3.11/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(
/home/station_05/anaconda3/envs/torch_ev/lib/python3.11/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(
/home/station_05/anaconda3/envs/torch_ev/lib/python3.11/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

In [39]:
scores = clf.evaluate()

Coverage 0.691
Calinski-Harabasz Score: 658.1399420546541

In [41]:
print(scores[0:10])

[ 0  0  2 -1  0 -1 -1  2  2  1]

In [42]:
labels = clf.score()

TypeError: ClassifierMixin.score() missing 2 required positional arguments: 'X' and 'y'